*{
    background-color: #F8EEDE;
    background-image:url(./assets/fundop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
}

header img{
    display: block;
    width: 100%;
    height: auto;
}

/*Conteudo Main*/

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TextSup{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Options{
    display: flex;
    flex-direction: column;
    gap: 20px
}


